.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.playimg {
  position: relative;
  width: 100%;
  padding: 0;
}
.hovericon {
  top: 50%;
  left: 50%;
  padding: 0;
  opacity: 0;
  width: 74px;
  height: 74px;
  margin: inherit;
  position: absolute;
  border-style: solid;
  transition: .3s ease;
  box-sizing: border-box;
  border-width: 37px 0px 37px 74px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-color: transparent transparent transparent #202020;
}
li.nav-item a.nav-link {
  cursor: pointer;
}
#video-button-group {
  float: right;
  text-decoration: none;
}
.playimg:hover .hovericon {
  opacity: 1;
}
.playimg:hover .bd-placeholder-img {
  opacity: 0.3;
  transition: .3s ease;
}
.nav-container {
  width: 100%;
}
.btn-chars {
  float: right;
}